.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgb(223, 233, 241);
}

.name-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(35, 43, 43);
  width: 100%;
  color: white;
  padding-left: 50px;
}
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: 40%;
  background-color: rgb(35, 43, 43);
  border: 1 solid black;
  border-radius: 5px;
  color: white;
}
.title-input,
.content-input {
  height: 40px;
  width: 80%;
  margin: 10px;
  border-radius: 5px;
}

.content-input {
  height: 70px !important;
}

.post {
  width: 70%;
  height: 100%;
  text-align: left;
  border: 1px solid rgb(136, 77, 77);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgb(231, 237, 241);
}

.main-post {
  display: flex !important;
  flex-direction: column !important;
  text-align: center;
  align-items: center;
}

.title {
  padding: 0%;
  font-weight: bold;
  font-size: 30px;
}

.content {
  font-size: 25px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.update {
  text-align: center;
  background-color: rgb(224, 155, 155);
  text-decoration: none;
  color: black;
  text-align: center;
  border: none;
}
.delete {
  background-color: rgb(171, 224, 155);
  color: black;
  border: none;
}
.logout,
.btn {
  width: 200px;
  font-weight: bold;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}
.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px !important;
}
.logout {
  height: 40px !important;
  width: 100px !important;
  background-color: rgb(238, 237, 234);
  margin-left: 20px;
  border: none;
}
.link {
  text-decoration: none;
  border-radius: 5px;
  color: black;
}
.text-detail {
  text-align: right;
}
.update-link {
  text-decoration: none;
  color: black;
}
.comment {
  font-size: 1.3rem;
}
.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
  background-color: rgb(35, 43, 43);
  border: 1 solid black;
  border-radius: 5px;
}
.all-comment {
  float: left !important;
  color: brown;
}
